@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&family=Oswald&display=swap');

:root {
    --primary-color: #325d7d;
    --secondary-color: #f6c94a;
    --accent1-color: #ff7f11;
    --accent2-color: #d1d5db;

    --heading-font: 'Oswald', sans-serif;
    --paragraph-font: 'Lora', serif

    --nav-background-color: #ff7f11;
    --nav-link-color: #325d7d;
    --nav-hover-link-color: #d1d5db;
    --nav--hover-background-color: #f6c94a;
}

body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    font-style:italic;
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header{
    padding: 20px;
    color: var(--accent1-color);
}

p{
    padding:25px;
}

nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a{
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
 
}

nav a :link, nav a:visited{
    color: var(--nav-link-color);
}
nav a :hover{
    color:var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color)
}